body{
    background-color: #5a189a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.parent{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 500px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.child{
    /* border: 1px solid black; */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent .child:nth-child(1){
    background-color: #04e762;
    grid-row-start: 1;
    grid-row-end:4;
}

.parent .child:nth-child(2){
    background-color: #04e762;
    grid-column-start: 2;
    grid-column-end: 4;
}

.parent .child:nth-child(4n){
    background-color: #fdc500;
    
}

.parent .child:nth-child(6){
    background-color: #04e762;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end:5;
}

